.header {
    background-color: #050832;
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
a{
    color:#ffffff !important;
    font-size :20px;
}
#boom-logo{
    padding-top:5px;
}
nav {
    padding:0px !important;
}
.navbar-brand {
    padding-bottom: 10px;
}
.navbar-brand:hover{
    border-bottom: 2px solid white;
}