<div class="header">
    <div class="container">
        <div class="row common-border">
            <div class="col-md-5 col-sm-3" id="boom-logo">
                <img src="../../assets/images/logo.png" alt="" height="40px" width="auto">
            </div>
            <div class="col-md-7 col-sm-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">Features</a>
                    <a class="navbar-brand" href="#">Compare</a>
                    <a class="navbar-brand" href="#">For Educators</a>
                    <a class="navbar-brand" href="#">User Manual</a>
                    <a class="navbar-brand" href="#">Global Delight</a>
                </nav>
            </div>
        </div>
    </div>
</div>