<div class="text-center common-border">
    <button type="button" class="btn btn-primary button-border-margin font-22">Learn More</button>
    <button type="button" class="btn btn-primary button-border-margin font-22">Download Trial</button>
    <p class="font-17">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
</div>
<div class="text-center">
    <p class="font-17">There are many variations of passages of Lorem Ipsum available.</p>
    <input type="email" placeholder="Email Address" id="emailId" class="font-17"><button type="button" class="btn btn-primary btn-sm">Sign
        Up</button>
</div>