img {
    width: 80px;
    height: 80px
}
.sideBorder {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.padding-10 {
    padding: 15px;
}
.feature .main-content-header {
    padding-top: 20px;
}